# Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
.venv/
venv/
env/

# Streamlit
.streamlit/secrets.toml

# Resultados generados
*.xlsx
*.xls
*.csv

# Logs
*.log

# Archivos temporales
*.tmp
*.temp

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/